// MIXINS
@mixin bg-image($width: 20px, $height: 20px, $image: '../assets/GB.png') {
    min-width: $width;
    min-height: $height;
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: cover;
}

// carousel 2

.carousel2_img {
    width: 250px;
    height: fit-content;
    border-radius: 8px;
}

// // Trending destinations
.london {
    @include bg-image(
        $width: 250px,
        $height: 250px,
        $image: '../assets/london.jpg'
    );
    border-radius: 8px;
}
.manchester {
    @include bg-image(
        $width: 250px,
        $height: 250px,
        $image: '../assets/manchester.jpg'
    );
    border-radius: 8px;
}
.liverpool {
    @include bg-image(
        $width: 250px,
        $height: 250px,
        $image: '../assets/liverpool.jpg'
    );
    border-radius: 8px;
}
.glasgow {
    @include bg-image(
        $width: 250px,
        $height: 250px,
        $image: '../assets/glasgow.jpg'
    );
    border-radius: 8px;
}
.paris {
    @include bg-image(
        $width: 250px,
        $height: 250px,
        $image: '../assets/paris.jpg'
    );
    border-radius: 8px;
}

// Carousel 3
.carousel3_img {
    width: 173px;
    height: 136px;
    border-radius: 8px;
}
