@import './bootstrap.scss';

.topnav a.hover,
.topnav span.hover,
.topnav button.hover,
.navbar_category a.hover {
    &:hover {
        background-color: #3452a1;
    }
}

.navbar_category a.active {
    border: 1px solid $white;
    background-color: #3452a1;
}
.topnav .navbar-toggler-icon {
    color: white;
}
.bc {
    background-color: $secondary;
    color: white;
}

.country {
    width: 20px;
    height: 20px;
    background-image: url('../assets/GB.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.search-form {
    border: 3px solid rgb(255, 183, 0);
    background-color: rgb(255, 183, 0);
    border-radius: 8px;
    & input,
    & button {
        height: 54px;
    }
    & svg {
        height: 20px;
        width: 20px;
    }
    & input {
        font-size: 1rem;
        padding-left: 0.4rem;
    }
}

.search-form-container {
    position: absolute;
    top: -2rem;
    left: 0;
}

.input-group-text {
    background-color: var(--bs-white);
}

@media (max-width: 992px) {
    .offcanvas-body ul a {
        background-color: transparent;
        border: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .offcanvas-body ul li {
        // display: flex;
        // justify-content: center;
        width: 100%;
    }
    .country {
        justify-content: center;
    }
}
