$primary: #003b95;
// @import '../../node_modules/bootstrap/scss/bootstrap.scss';
// Import all of Bootstrap's CSS
// $navbar-dark-color: #fff;
// $navbar-dark-hover-color: #954d00;
$navbar-dark-color: #fff;
@import 'bootstrap/scss/bootstrap';

.topnav a.hover {
    &:hover {
        background-color: #3452a1;
    }
}

.topnav .navbar-toggler-icon {
    color: white;
}
.bc {
    background-color: $primary;
    color: white;
}

.country {
    width: 24px;
    height: 24px;
    background-image: url('../assets/GB.png');
    background-repeat: no-repeat;
    background-size: cover;
}
